site_name: sparse_grid
site_description: A Python Sparse Grid Package
site_url: https://eggzec.github.io/sparse_grid/
repo_url: https://github.com/eggzec/sparse_grid
repo_name: eggzec/sparse_grid

theme:
  name: material

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - User Guide: user-guide.md
  - API Reference:
      - Overview: api/index.md
      - SparseGrid: api/grid.md
      - GridPoint: api/point.md
      - Utilities: api/utils.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            show_signature_annotations: true
            merge_init_into_class: true
            show_root_heading: true
            show_root_toc_entry: false

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.highlight
